
name: Release tagged build

on:
  workflow_call:
    secrets:
      MAVEN_DEPLOY_USER:
        required: false
      MAVEN_DEPLOY_PASSWORD:
        required: false
      CURSEFORGE_TOKEN:
        required: false
      MODRINTH_TOKEN:
        required: false
    inputs:
      workspace:
        description: 'setupCIWorkspace/setupDecompWorkspace'
        required: false
        default: "setupCIWorkspace"
        type: string
      zig-version:
        description: 'The zig version to use (if using GradleZigBuild)'
        required: false
        default: "__NONE__"
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.ref_name }}
      RELEASE_VERSION: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: 'true'

      - name: Checkout lfs
        run: |
          git lfs install --local
          AUTH=$(git config --local http.${{ github.server_url }}/.extraheader)
          git config --local --unset http.${{ github.server_url }}/.extraheader
          git config --local http.${{ github.server_url }}/${{ github.repository }}.git/info/lfs/objects/batch.extraheader "$AUTH"
          git lfs pull

      - name: Set up JDK versions
        uses: actions/setup-java@v4
        with:
          java-version: |
            8
            17
            21
            25
          distribution: 'adopt'

      - name: Set up Zig
        uses: mlugg/setup-zig@v2
        if: ${{ inputs.zig-version != '__NONE__' }}
        with:
          version: ${{ inputs.zig-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup the workspace
        run: ./gradlew --stacktrace --build-cache ${{ inputs.workspace }}

      - name: Build the mod
        run: ./gradlew --stacktrace --build-cache assemble

      # Continue on error in the following steps to make sure releases still get made even if one of the methods fails

      - name: Delete old release if it already exists
        run: gh release delete --yes "${RELEASE_VERSION}"
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release under current tag
        run: gh release create "${RELEASE_VERSION}" ./build/libs/*.jar
        shell: bash
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Maven
        run: ./gradlew --stacktrace --build-cache assemble publish -x test
        continue-on-error: true
        env:
          MAVEN_DEPLOY_USER: ${{ secrets.MAVEN_DEPLOY_USER }}
          MAVEN_DEPLOY_PASSWORD: ${{ secrets.MAVEN_DEPLOY_PASSWORD }}
        if: ${{ env.MAVEN_DEPLOY_USER != '' }}

      - name: Publish to CurseForge
        run: ./gradlew --stacktrace --build-cache assemble curseforge -x test
        continue-on-error: true
        env:
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}

      - name: Publish to Modrinth
        run: ./gradlew --stacktrace --no-configuration-cache --build-cache assemble modrinth -x test
        continue-on-error: true
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
